.blog{
    text-align: start;
    margin: 50px auto;
}

.p-text{
    margin:20px 0;
    font-weight: 500;
}

.card_container{
    margin: 50px auto;
    display:flex;
    flex-wrap: wrap;
}

.custom_card{
    border-radius: 20px;
    border: 1px solid #ffffff;
    margin: 15px;
    height: 100%;
}

.custom_card:hover{
    cursor:default!important;
}

.card_Body{
    margin-top: 20px;
}

.card_b_text{
    padding:0px 10px;
    margin-top: 10px;
}

.card_p{
    color:gray;
}

.right_arrow{
    color: rgb(238, 21, 21);
    font-size: 18px;
}
.see_moreBtn{
    font-weight: 500;
    color: rgb(56, 56, 216);
}
.see_moreBtn:hover{
    color: rgb(223, 16, 16);
    cursor: pointer;
}