.banner {
    background-image: url('../../../hot-onion-restaurent-resources/bannerbackground.png');
    background-size: cover;
    background-repeat: no-repeat;
    width:100%;
    height:500px;
    padding:150px 0;
    text-align: center;
}