.foodCard{
    display:flex;
    flex-wrap: wrap;
}

.check_your_food_active{
    text-decoration: none;
    border: none;
    background:rgb(231, 10, 10);
    border-radius: 5px;
    padding: 10px 40px;
    color: rgb(255, 255, 255);
    text-align: center;
    margin:80px auto;
}

.check_your_food_active:hover{
    color:black;
}

.check_your_food_disabled{
    cursor: not-allowed;
    text-decoration: none;
    border: none;
    background:rgb(136, 136, 136);
    border-radius: 5px;
    padding: 10px 40px;
    color: rgb(255, 255, 255);
    text-align: center;
    margin:80px auto;
}
.categories_container{
    min-height: 300px;
}